extends base.pug
block title 
    title About Us
block style 
    style 
        include ../static/about.css
block content
    .about 
        .sparklogo
            img(src="/static/img/spark.jpg", alt="")
        .sparkcontent 
            h1 About the Academy
            p 
                | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit inventore iure similique ut qui in veritatis molestias sequi quas corrupti quis, expedita, doloribus porro aliquam eveniet dolor veniam aut ducimus doloremque neque ipsam, ad harum cupiditate. Nobis eius neque eum harum aliquid. Suscipit mollitia vel dignissimos, repellendus omnis dolorem architecto alias distinctio maxime consequuntur vero eveniet consectetur exercitationem, neque ipsum, magni libero illum doloremque perspiciatis eaque nostrum vitae dolores eius adipisci. Id, esse odio.
    .founder 
        .foundercontent 
            h1 Our Founder
            p 
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat harum, quos velit sunt sit, sed quis, ullam recusandae in molestias officia cum dolor eligendi.
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni ab cum dolores, sint consectetur labore nobis dolore similique modi doloremque, aut et reiciendis cupiditate minus nemo deserunt debitis eveniet fugiat dolorum fugit asperiores amet sapiente illum? Enim assumenda modi blanditiis vel qui odio culpa!
        .founderpic 
            img(src="/static/img/myself.jpeg", alt="")
            span Anish Agarwal
    h1 Expert Mentors
    h2 Hip-Hop Instructors 
    .teams 
        .card 
            .cardimg 
                img(src="/static/img/person1.jpg", alt="")
            .cardcontent 
                p 
                    | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis incidunt facilis modi! Facilis, aspernatur. Provident omnis esse in ipsam ullam ut aperiam cumque illo.
        .card 
            .cardimg 
                img(src="/static/img/person1.jpg", alt="")
            .cardcontent 
                p 
                    | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis incidunt facilis modi! Facilis, aspernatur. Provident omnis esse in ipsam ullam ut aperiam cumque illo.
        .card 
            .cardimg 
                img(src="/static/img/person1.jpg", alt="")
            .cardcontent 
                p 
                    | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis incidunt facilis modi! Facilis, aspernatur. Provident omnis esse in ipsam ullam ut aperiam cumque illo.
    h2 Folk Dance Instructors 
    .teams 
        .card 
            .cardimg 
                img(src="/static/img/person1.jpg", alt="")
            .cardcontent 
                p 
                    | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis incidunt facilis modi! Facilis, aspernatur. Provident omnis esse in ipsam ullam ut aperiam cumque illo.
        .card 
            .cardimg 
                img(src="/static/img/person1.jpg", alt="")
            .cardcontent 
                p 
                    | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis incidunt facilis modi! Facilis, aspernatur. Provident omnis esse in ipsam ullam ut aperiam cumque illo.
        .card 
            .cardimg 
                img(src="/static/img/person1.jpg", alt="")
            .cardcontent 
                p 
                    | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis incidunt facilis modi! Facilis, aspernatur. Provident omnis esse in ipsam ullam ut aperiam cumque illo.
    h2 Jazz Instructors 
    .teams 
        .card 
            .cardimg 
                img(src="/static/img/person1.jpg", alt="")
            .cardcontent 
                p 
                    | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis incidunt facilis modi! Facilis, aspernatur. Provident omnis esse in ipsam ullam ut aperiam cumque illo.
        .card 
            .cardimg 
                img(src="/static/img/person1.jpg", alt="")
            .cardcontent 
                p 
                    | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis incidunt facilis modi! Facilis, aspernatur. Provident omnis esse in ipsam ullam ut aperiam cumque illo.
        .card 
            .cardimg 
                img(src="/static/img/person1.jpg", alt="")
            .cardcontent 
                p 
                    | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis incidunt facilis modi! Facilis, aspernatur. Provident omnis esse in ipsam ullam ut aperiam cumque illo.
    h2 Contemporary Instructors 
    .teams 
        .card 
            .cardimg 
                img(src="/static/img/person1.jpg", alt="")
            .cardcontent 
                p 
                    | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis incidunt facilis modi! Facilis, aspernatur. Provident omnis esse in ipsam ullam ut aperiam cumque illo.
        .card 
            .cardimg 
                img(src="/static/img/person1.jpg", alt="")
            .cardcontent 
                p 
                    | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis incidunt facilis modi! Facilis, aspernatur. Provident omnis esse in ipsam ullam ut aperiam cumque illo.
        .card 
            .cardimg 
                img(src="/static/img/person1.jpg", alt="")
            .cardcontent 
                p 
                    | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis incidunt facilis modi! Facilis, aspernatur. Provident omnis esse in ipsam ullam ut aperiam cumque illo.