doctypye
html 
    head 
        title Welcome to Spark Academy
        style 
            include ../static/index.css
    body 
        nav.navbar 
            div.logo 
                img(src="../static/img/logo.png", alt="Logo")
                | Spark
            div.navigation 
                a(href="/") Home
                a(href="/") About
                a(href="/") Services
                a(href="/") Contact
            div.navlast 