doctypye
html 
    head 
        title Welcome to Spark Academy
        style 
            include ../static/index.css
    body 
        nav.navbar 
            div.logo 
                img(src="../static/img/logo.png", alt="Logo")
                | Spark
            div.navigation 
                a(href="/") Home
                a(href="/") About
                a(href="/") Services
                a(href="/") Class Info
                a(href="/") Contact
            div.navlast 
        .section  
            h1 Welcome to Spark Academy
            p 
            | Dance your heart out
        h2 Our Mission
        .mission 
            div.card
                h3 Dance Perfection
                div.card-box
                    div.card-img
                        img(src="/static/img/1.png" alt="image")
                    div.card-content
                        p This is the best dance academy of the universe
            div.card
                h3 Dance the way you like
                div.card-box
                    div.card-img
                        img(src="/static/img/2.png")
                    div.card-content
                        p This is the best dance academy of the universe
            div.card
                h3 Expert Teaching
                div.card-box
                    div.card-img
                        img(src="/static/img/3.png")
                    div.card-content
                        p This is the best dance academy of the universe
        .sponsors 
            h2 Our Sponsors