@import url('https://fonts.googleapis.com/css?family=Yeon+Sung|ZCOOL+QingKe+HuangYou&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    
}
body{
    overflow-x: hidden;
}
.navbar{
    display: flex;
    height: 50px;
    width: 100vw;
    font-family: 'Yeon Sung' ;
    background-color: #d43b3b;
    position: fixed;
    top: 0;
    /* justify-content: space-between; */
}
.logo{
    display: flex;
    align-items: center;
    color: white;
    
}
.logo img{
    height: 48px;
    filter: invert(1);
}
.logo a span{
    display: flex;
    color: white;
    align-items: center;
}
.logo a{
    display: flex;
    text-decoration: none;
}
.navigation{
    display: flex;
    align-items: center;
    
    margin-left: 20vw;
    justify-content: space-between;
    width: 48vw;
}
.navigation a{
    color: white; 
    font-size: 30px;
    text-decoration: none;
    padding: 13px 20px;
    transition: all 0.4s ease;
}
.navigation a:hover{
    color: black;
}
.section{
    color: white;
    font-size: 50px;
    font-family: 'ZCOOL QingKe HuangYou';
    height: 60vh;
    background-image: url(/static/img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover  ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.section+h2{
    margin: 10px 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}
.mission{
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
    text-align: center;
}
.card{
    border: 1px solid black;
    width: 30%;
    height: 210px;
    border-radius: 10px;
}
.cardbox{
    
    display: flex;
    height: 187px;
}

.cardcontent{
    
    display: flex;
    align-items: center;
}
.cardimg img{
    height: 185px;

}
.sponsors{
    height: 300px;
    background-color: #fbd6d6c7;
    
}
.sponsors h2{
    text-align: center;
    margin-top: 10px;
    display: block;
    padding: 10px 0;
}
.sponsorimg{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 253px;
}
.sponsorimg img{
    height: 80px;
    margin: 20px;
}
#footer{
    color: white;
    background-color: black;
    text-align: center;
}